In [110]:
import os
import numpy as np
import pandas as pd
import json
import ast
from pandas.io.json import json_normalize

path = '/content/query_result_2020-07-10T11_58_44.440082Z.csv'

In [111]:
df = pd.read_csv(path)

In [112]:
df = pd.concat([df['User ID'],df['Response']],axis=1)
df.head(2)

   User ID                                           Response
0   394897  {u'status': u'Rejected', u'uploadTime': None, ...
1   104832  {u'status': u'Submitted', u'uploadTime': 15942...

In [113]:
df['Response'] = df['Response'].apply(lambda x : ast.literal_eval(str(x)))

In [114]:
df.head(2)

   User ID                                           Response
0   394897  {'status': 'Rejected', 'uploadTime': None, 'do...
1   104832  {'status': 'Submitted', 'uploadTime': 15942436...

In [115]:
df2 = json_normalize(df['Response'])
df2.head(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

      status  ...                                               data
0   Rejected  ...                                                NaN
1  Submitted  ...                                                NaN
2  Processed  ...  [{'unmatchedCibil': None, 'panNumber': None, '...

[3 rows x 13 columns]

In [116]:
df3 = pd.concat([df['User ID'],df2['data']],axis=1)

In [117]:
df3 = df3[df3['data'].notnull()]

In [118]:
df3.index = pd.RangeIndex(start = 0,stop=319,step=1)
df3.head(3)

   User ID                                               data
0   104832  [{'unmatchedCibil': None, 'panNumber': None, '...
1   434859  [{'unmatchedCibil': None, 'panNumber': None, '...
2   293921  [{'unmatchedCibil': None, 'panNumber': None, '...

In [119]:
bank_names = []
for i in range(df3.shape[0]):
  bank_names.append(df3['data'][i][0]['bankName'])
bank_names

['HDFC',
 'STANDARD CHARTERED',
 'HDFC',
 'ICICI',
 'ICICI',
 'HDFC',
 'HDFC',
 'SBI',
 'AXIS',
 'BOB',
 'HDFC',
 'SBI',
 'BOI',
 'SBI',
 'HDFC',
 'HDFC',
 'ICICI',
 'ANDHRA BANK',
 'HDFC',
 'SBI',
 'ICICI',
 'AXIS',
 'HDFC',
 'IDFC',
 'HDFC',
 'BOB',
 'KARNATAKA BANK LIMITED',
 'SURYODAY SMALL FBL',
 'AXIS',
 'CANARA',
 'AXIS',
 'ALLAHABAD',
 'SOUTH INDIAN',
 'CITI',
 'AXIS',
 'AXIS',
 'ICICI',
 'ICICI',
 'BOB',
 'SARASWAT COOPERATIVE BANK',
 'HDFC',
 'SBI',
 'IDBI',
 'HDFC',
 'STANDARD CHARTERED',
 'DENA',
 'HDFC',
 'HDFC',
 'HDFC',
 'HDFC',
 'FEDRAL BANK',
 'Ratnagiri District Central Co-Operative Bank Ltd',
 'ALLAHABAD',
 'HDFC',
 'BOI',
 'SBI',
 'SBI',
 'HDFC',
 'AXIS',
 'SYNDICATE BANK',
 'HDFC',
 'ICICI',
 'CANARA',
 'SBI',
 'YES',
 'HDFC',
 'HDFC',
 'ANDHRA BANK',
 'KARNATAKA BANK LIMITED',
 'HDFC',
 'HDFC',
 'AXIS',
 'SBI',
 'SBI',
 'BOI',
 'IDBI',
 'HDFC',
 'HDFC',
 'IOB',
 'EQUITAS SMALL FINANCE BANK',
 'IOB',
 'IOB',
 'AXIS',
 'HDFC',
 'EQUITAS SMALL FINANCE BANK',
 'SBI',
 'UNION',
 'STANDARD CHARTERED',
 'KOTAK',
 'AXIS',
 'Other',
 'BOB',
 'IDFC',
 'HDFC',
 'Other',
 'SARASWAT COOPERATIVE BANK',
 'HDFC',
 'AXIS',
 'SBI',
 'HDFC',
 'HDFC',
 'ICICI',
 'CITY UNION BANK',
 'AXIS',
 'SBI',
 'HDFC',
 'AXIS',
 'AXIS',
 'SBI',
 'KOTAK',
 'AXIS',
 'HDFC',
 'HDFC',
 'DBS BANK LTD',
 'SBI',
 'ICICI',
 'CORPORATION',
 'SBI',
 'ICICI',
 'ICICI',
 'ICICI',
 'SBI',
 'SBI',
 'BOB',
 'SBI',
 'ICICI',
 'STANDARD CHARTERED',
 'SBI',
 'IDBI',
 'DENA',
 'SBI',
 'AXIS',
 'SBI',
 'ICICI',
 'HDFC',
 'AXIS',
 'SBI',
 'STANDARD CHARTERED',
 'UJJIVAN SMALL FBL',
 'SBI',
 'FEDRAL BANK',
 'TJSB SEHKARI',
 'SBI',
 'AXIS',
 'KOTAK',
 'PAYTM PBL',
 'KOTAK',
 'AXIS',
 'AXIS',
 'AXIS',
 'OBC',
 'HDFC',
 'HDFC',
 'HDFC',
 'SBI',
 'KOTAK',
 'ICICI',
 'CITY UNION BANK',
 'SBI',
 'KOTAK',
 'SBI',
 'HDFC',
 'SBI',
 'ICICI',
 'HDFC',
 'PNB',
 'AXIS',
 'IDBI',
 'UJJIVAN SMALL FBL',
 'PNB',
 'STANDARD CHARTERED',
 'STANDARD CHARTERED',
 'SBI',
 'AXIS',
 'UNION',
 'KOTAK',
 'HDFC',
 'IDFC',
 'HDFC',
 'SBI',
 'HDFC',
 'AXIS',
 'INDIAN BANK',
 'KOTAK',
 'BOB',
 'INDIAN BANK',
 'IOB',
 'AXIS',
 'SBI',
 'HDFC',
 'HDFC',
 'SBI',
 'SBI',
 'SBI',
 'SBI',
 'KOTAK',
 'IDBI',
 'HDFC',
 'SBI',
 'HDFC',
 'ICICI',
 'ICICI',
 'HDFC',
 'UNION',
 'BANK OF MAHARASTRA',
 'STANDARD CHARTERED',
 'BOB',
 'PAYTM PBL',
 'ALLAHABAD',
 'ICICI',
 'HDFC',
 'INDUSIND',
 'SBI',
 'HDFC',
 'YES',
 'AXIS',
 'ICICI',
 'BANK OF MAHARASTRA',
 'HDFC',
 'SBI',
 'KOTAK',
 'HDFC',
 'SBI',
 'AXIS',
 'HDFC',
 'ICICI',
 'HDFC',
 'HDFC',
 'SBI',
 'KOTAK',
 'HDFC',
 'SYNDICATE BANK',
 'ICICI',
 'HDFC',
 'HDFC',
 'SARASWAT COOPERATIVE BANK',
 'ICICI',
 'INDIAN BANK',
 'STANDARD CHARTERED',
 'KOTAK',
 'HDFC',
 'BOB',
 'ICICI',
 'YES',
 'ICICI',
 'AXIS',
 'HDFC',
 'HDFC',
 'ICICI',
 'OBC',
 'DEUTSCHE BANK',
 'INDUSIND',
 'SBI',
 'SBI',
 'SBI',
 'HDFC',
 'HDFC',
 'HDFC',
 'CENTRAL BANK OF INDIA',
 'HDFC',
 'AXIS',
 'AXIS',
 'BOB',
 'INDUSIND',
 'BOB',
 'HDFC',
 'SBI',
 'HDFC',
 'AXIS',
 'KOTAK',
 'SBI',
 'HDFC',
 'AXIS',
 'KOTAK',
 'KOTAK',
 'HDFC',
 'INDIAN BANK',
 'HDFC',
 'SBI',
 'ICICI',
 'KOTAK',
 'UNION',
 'SBI',
 'HDFC',
 'HDFC',
 'SBI',
 'KOTAK',
 'SBI',
 'AXIS',
 'HDFC',
 'KOTAK',
 'Other',
 'BOB',
 'HDFC',
 'AXIS',
 'ICICI',
 'SBI',
 'CANARA',
 'SOUTH INDIAN',
 'ICICI',
 'INDIAN BANK',
 'ICICI',
 'UNION',
 'AXIS',
 'FEDRAL BANK',
 'SBI',
 'HDFC',
 'SBI',
 'SBI',
 'IDFC',
 'STANDARD CHARTERED',
 'ICICI',
 'AXIS',
 'KOTAK',
 'IDFC',
 'ICICI',
 'SBI',
 'HDFC',
 'HDFC']

In [120]:
df3['data'][60][0]['salary'] #[-1]['totalSalary']

[{'month': 'Dec-2019',
  'totalSalary': 20000.0,
  'transactions': [{'amount': 20000.0,
    'cheque': '0000936414700306',
    'closingBalance': 20011.88,
    'holiday': False,
    'id': 62,
    'ignorableTransaction': False,
    'monthYear': 'Dec-2019',
    'name': 'AZMATH FATIMA',
    'narration': 'UPI-AZMATH FATIMA-AZMATHFATIMA98@OKICICI-ICIC0000598-936414048048-UPI',
    'openingBalance': 11.88,
    'paymentCategory': 'Salary',
    'paymentMode': 'Other',
    'transactionDate': 1577644200000,
    'type': 'Cr'}]},
 {'month': 'Jan-2020',
  'totalSalary': 25679.0,
  'transactions': [{'amount': 25679.0,
    'cheque': 'HSBCN20030720409',
    'closingBalance': 38333.02,
    'holiday': False,
    'id': 179,
    'ignorableTransaction': False,
    'monthYear': 'Jan-2020',
    'name': 'AZMATH FATIMA',
    'narration': 'NEFT CR-HSBC0400002-SYNCHRONY INTL SERVICES P L BLDG PA-AZMATH FATIMA-HSBCN20030 720409',
    'openingBalance': 12654.02,
    'paymentCategory': 'Salary',
    'paymentMode': 'Other',
    'transactionDate': 1580322600000,
    'type': 'Cr'}]},
 {'month': 'Feb-2020',
  'totalSalary': 23179.0,
  'transactions': [{'amount': 23179.0,
    'cheque': 'HSBCN20058588187',
    'closingBalance': 24690.42,
    'holiday': False,
    'id': 302,
    'ignorableTransaction': False,
    'monthYear': 'Feb-2020',
    'name': 'AZMATH FATIMA',
    'narration': 'NEFT CR-HSBC0400002-SYNCHRONY INTL SERVICES P L BLDG PA-AZMATH FATIMA-HSBCN20058 588187',
    'openingBalance': 1511.42,
    'paymentCategory': 'Salary',
    'paymentMode': 'Other',
    'transactionDate': 1582741800000,
    'type': 'Cr'}]}]

In [121]:
df3['data'][260][0]['salary'] #[-1]['totalSalary']

[]

In [122]:
salary = []
for i in range(df3.shape[0]):
  if df3['data'][i][0]['salary']:
    salary.append(df3['data'][i][0]['salary'][-1]['totalSalary'])
  else:
    salary.append(None)
salary

[11553.0,
 18271.0,
 17436.0,
 None,
 None,
 10000.0,
 25720.0,
 16134.0,
 47557.0,
 16500.0,
 None,
 None,
 None,
 69428.0,
 15551.0,
 17414.0,
 50000.0,
 None,
 21421.0,
 None,
 13068.0,
 13679.0,
 None,
 14058.0,
 20668.0,
 23329.0,
 17592.0,
 15371.0,
 2000.0,
 None,
 26000.0,
 None,
 None,
 27034.0,
 None,
 None,
 41956.0,
 23979.0,
 None,
 45152.0,
 24071.0,
 None,
 13927.0,
 37979.4,
 None,
 None,
 11089.0,
 37790.0,
 24445.0,
 21041.0,
 None,
 12981.0,
 None,
 12282.0,
 None,
 None,
 None,
 31057.0,
 None,
 35768.0,
 23179.0,
 15462.0,
 11727.0,
 17780.0,
 13818.0,
 21900.0,
 14333.0,
 10470.0,
 15159.02,
 None,
 37867.0,
 None,
 17162.0,
 30578.0,
 30000.0,
 None,
 7000.0,
 21041.0,
 26505.0,
 18920.0,
 26548.0,
 None,
 29015.0,
 49798.0,
 19020.0,
 None,
 None,
 25443.0,
 26200.0,
 None,
 None,
 25300.0,
 11541.0,
 34788.0,
 None,
 None,
 73354.0,
 None,
 30000.0,
 15410.0,
 14059.0,
 33741.0,
 8669.0,
 50089.0,
 None,
 45622.0,
 25416.0,
 None,
 34186.0,
 None,
 None,
 26959.0,
 18244.0,
 None,
 1300.0,
 41072.0,
 11511.3,
 58522.0,
 None,
 23520.0,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 17000.0,
 11568.0,
 None,
 24858.0,
 23083.0,
 22162.0,
 10837.0,
 None,
 34303.0,
 None,
 None,
 7427.0,
 None,
 19672.0,
 None,
 None,
 19900.0,
 None,
 31251.0,
 10519.0,
 None,
 None,
 109825.0,
 73178.06,
 None,
 None,
 26755.0,
 None,
 22740.0,
 9200.0,
 None,
 42226.0,
 None,
 16405.0,
 None,
 19333.0,
 None,
 13404.0,
 34303.0,
 13023.0,
 23215.0,
 24433.0,
 25554.0,
 24596.0,
 35000.0,
 22458.0,
 None,
 None,
 34650.0,
 None,
 None,
 None,
 None,
 None,
 None,
 26031.0,
 8000.0,
 40794.0,
 25268.0,
 39754.0,
 63848.0,
 None,
 42039.0,
 22414.0,
 None,
 None,
 None,
 37637.0,
 None,
 20194.0,
 17993.0,
 20670.0,
 None,
 None,
 15216.0,
 None,
 None,
 None,
 16529.0,
 41268.0,
 11840.0,
 17000.0,
 16134.0,
 21958.0,
 30033.0,
 5400.0,
 17561.0,
 15216.0,
 105134.0,
 204880.0,
 None,
 34800.0,
 41918.0,
 None,
 20134.0,
 None,
 None,
 34591.0,
 24800.0,
 None,
 20748.0,
 None,
 22629.0,
 None,
 None,
 25000.0,
 15084.0,
 None,
 None,
 None,
 20134.0,
 25300.0,
 38566.0,
 35774.0,
 67942.0,
 None,
 22288.0,
 None,
 24872.0,
 15611.0,
 32727.0,
 13052.0,
 None,
 3398.0,
 None,
 None,
 21281.0,
 13652.0,
 None,
 28067.0,
 None,
 None,
 None,
 22652.0,
 None,
 21900.0,
 None,
 33846.0,
 33562.0,
 None,
 14129.0,
 65049.0,
 10190.0,
 11531.0,
 None,
 None,
 None,
 41200.0,
 59520.0,
 12193.0,
 59028.0,
 51904.0,
 8897.0,
 86360.0,
 21841.0,
 None,
 20206.0,
 None,
 49000.0,
 None,
 12915.0,
 None,
 None,
 None,
 13509.0,
 27197.0,
 None,
 17317.0,
 None,
 37759.0,
 21539.0,
 19196.0,
 None,
 None,
 18548.0,
 14282.75,
 None,
 None,
 None,
 20443.0,
 32656.0,
 None,
 20305.0,
 24717.0,
 14078.0,
 41627.0,
 None,
 27500.0,
 32476.0]

In [123]:
account_nos = []
for i in range(df3.shape[0]):
  account_nos.append(df3['data'][i][0]['accountNumber'])
account_nos

['50100287183763',
 '27011717278',
 '50100330886677',
 '197401503617',
 '059601506728',
 '03561050004004',
 '50100216395922',
 '32561917667',
 '919010065617830',
 '89340100011604',
 '50100256875968',
 '62486743746',
 '150510110003644',
 '00000064118194587',
 '50100199354886',
 '50100201869176',
 '018901543521',
 '002410100028401',
 '50100297954735',
 '00000032865893264',
 '015601566710',
 '913010047304145',
 '50100343413591',
 '10007029177',
 '50100290951330',
 '19830100031547',
 '1132500101616501',
 '191000051230',
 '918010008926570',
 '0512131000047',
 '918010008926570',
 '50403111134',
 '0113053000016948',
 '54xx1xxx19',
 '918010008926570',
 '918010008926570',
 '156901507672',
 '609801514844',
 '18810100016487',
 '249203100000634',
 '01591050099048',
 '00000067390930703',
 '0210104000178228',
 '50100307441838',
 '22911365105',
 '124210032901',
 '50100170714317',
 '50100005717190',
 '50100297415307',
 '50100196433008',
 '11260100682902',
 '1604006100104',
 '50370602104',
 '50100321881750',
 '961210110016582',
 '00000036080297262',
 '00000031491522142',
 '50100098910917',
 '914010037405899',
 '04812010053905',
 '50100203089937',
 '015201588774',
 '6622101000050',
 '00000062066124633',
 '003690200016639',
 '50100316201611',
 '50100156643990',
 '054910100159303',
 '1982500100644901',
 '50100078727674',
 '50100006885352',
 '919010013622778',
 '00000010100284063',
 '00000020378250532',
 '055710110002641',
 '1024104000037730',
 '50100285158070',
 '50100196433008',
 '033201000028457',
 '1',
 '033201000028457',
 '033201000028457',
 '919010045342695',
 '50100102123333',
 '100006316512',
 '00000033567621441',
 '199110100010147',
 '22911365105',
 '0512663472',
 '914010025676175',
 '00000000',
 '57890100003471',
 '10052656751',
 '50100158186701',
 '00000000',
 '224203100003820',
 '50100026035481',
 '912010026843051',
 '00000000',
 '50100297750973',
 '50100250110335',
 '172701505826',
 '500101011955467',
 '919010065617830',
 '00000036080297262',
 '50100020494040',
 '919010040636191',
 '918010113438492',
 '00000031808233449',
 '6912151281',
 '916010065365732',
 '50100203089937',
 '50100200212585',
 '881034659977',
 '00000032732306836',
 '100801542235',
 '565181000020636',
 '00000064028756561',
 '130401511604',
 '174901504604',
 'XXXXXXXX3770',
 '00000031642058870',
 '00000036207271663',
 '31940100024753',
 '00000031227081846',
 '142301519186',
 '22910981147',
 '00000062214274413',
 '183104000034946',
 '094310026049',
 '00000036840716099',
 '917010033138097',
 '00000062121947690',
 '324301502703',
 '50100201869176',
 '919010074856455',
 '00000062307186305',
 '42810504673',
 '1102110050003283',
 '00000062214698273',
 '99980100639272',
 '10551',
 '00000034208735336',
 '916010012880879',
 '8912461537',
 '917010275911',
 '2912592802',
 '919010050577051',
 '918010071497472',
 '919010074856455',
 '09112171019017',
 '50100312787751',
 '50100115862316',
 '05451610394830',
 '00000020094790408',
 '5012401722',
 'XXXXXXXX8608',
 '500101010780130',
 '00000038166981265',
 '5212468969',
 '00000020165946948',
 '50100335004565',
 '67325352924',
 '00000000',
 '50100232244838',
 '7179001700134879',
 '916010065365732',
 '0209104000232265',
 '1102110050003283',
 '2149000400008369',
 '23110524947',
 '45611539749',
 '00000031762815326',
 '920010015487003',
 '341602010194924',
 '0012945924',
 '50100044966566',
 '10031228595',
 '50100279159878',
 '20298129048',
 '50100305995602',
 'XXXXXXXXXXX0811',
 '6696796639',
 '3613072594',
 '03410100032897',
 '6566250704',
 '230901000005752',
 '918010113438492',
 '00000064211235427',
 '20431140001797',
 '50100334432081',
 '00000033567621441',
 '00000010853501842',
 '00000020187187972',
 '00000030426147142',
 '3412335722',
 '0737104000106818',
 '50100208485743',
 '00000030457173345',
 '50100082366671',
 '056401517915',
 '369501501835',
 '50100327684294',
 '054910100159303',
 '20089793687',
 '44411591242',
 '27620100014926',
 '9052501224',
 '50370602104',
 '369501501835',
 '50100258090503',
 '100042723199',
 '00000032561917667',
 '50100224555688',
 '018790200001820',
 '919010078905241',
 '269801504279',
 '20089793687',
 '50100326731072',
 '00000036297376240',
 '3012028536',
 '50100184252686',
 '00000010687854537',
 '919010059195018',
 '50100278210831',
 '004501553826',
 '50100171662589',
 '00751050278896',
 '00000037787337638',
 '2813928410',
 '50100223289018',
 '05482200092410',
 '136901501814',
 '50100232540492',
 '50100265023741',
 '210203100008927',
 '626501533518',
 '611335127',
 '45611490537',
 '7312081772',
 '50100278210831',
 '57890100003471',
 '004001635966',
 '074791800007964',
 '055801649273',
 '918010069205988',
 '50100316201611',
 '50100212115622',
 '429601503702',
 '15182413000411',
 '400038302780019',
 '100004940644',
 '00000000',
 '67121288244',
 '00000000',
 '50100052723351',
 '50100213278000',
 '03741140006193',
 '3995271182',
 '50100188510509',
 '916010073911477',
 '918010113438492',
 '59700100002020',
 '100049102003',
 '33208100017790',
 '50100316201611',
 '00000033567621441',
 '50100172812752',
 '918010002076712',
 '1914608696',
 '00000020018284483',
 '50100014746534',
 '918010114230570',
 '0212532863',
 '9414482112',
 '00601710000236',
 '6065694829',
 '50100231127584',
 '00000031546292672',
 'XXXXXXXX3720',
 '6611913012',
 '692102010000491',
 '00000020361194596',
 '50100244697100',
 '50100310045356',
 '00000000',
 '06310030036306',
 '00000033269888143',
 '919010093248727',
 '50100020494040',
 '9312661138',
 '00000000',
 '35640100014110',
 '50100263274536',
 '918010055471508',
 '247201505903',
 '00000020315584762',
 '1820101019969',
 '0476053000001707',
 '147401504799',
 '621967041',
 '045601514629',
 '500802010014957',
 '915010031166418',
 '17850100057891',
 '00000062341509075',
 '50100297240064',
 '33204620269',
 '00000020349581896',
 '10029575723',
 '42611557092',
 'XXXXXXXX3495',
 '919010081846434',
 '1712483587',
 '10038821419',
 '001401538521',
 '00000062308585354',
 '50100257779051',
 '50100199646413']

In [124]:
account_name = []
for i in range(df3.shape[0]):
  account_name.append(df3['data'][i][0]['accountName'])
account_name

['SHANKAR VITTHAL BANSODE',
 'KUMAR NITESH',
 'PAWAN KUMAR RAI',
 'FARIDUDDIN CHAUDHARY',
 'RUPESH YENUGU',
 'VINOD SAKHARAM SHIGWAN',
 'PARAMESHGOUD S SURKOD',
 'PANDALAPATI BABU RAO',
 'CHANDRASHEKHAR BIRAJDAR',
 'YASHVANTHKUMAR. S',
 'AKSHAY PRAKASH BANSODE',
 'KANDIKATLA VINAY KUMAR',
 'AJINKYA ARUN',
 'PRAVEEN R',
 'ARUN SADASHIV DAHIVALKAR',
 'VISHAL BHAGATSING SALUNKHE',
 'JOSHI RAJESHCHANDRA VINODKUMAR',
 'VEDI M',
 'VEEPURI GIRISH KUMAR',
 'MAULIK BIPINCHANDRA PRAJAIATI',
 'NAGARAJ SIVANANDA',
 'DATTATREYA MADHAV JADHAV',
 'ARULMANI VARATHARAJAN',
 'SATHYASEELAN S',
 'VIMAL KUMAR',
 'BHANDARKAVATE MAHADEV S',
 'VINAY S',
 None,
 'SATHISH KUMAR R',
 'VIRUPAKSHA DESHPANDE',
 'SATHISH KUMAR R',
 'SANJAY SHIVAJI KALE',
 'MARIA JOSE',
 'VITHUN GOWDA M T',
 'SATHISH KUMAR R',
 'SATHISH KUMAR R',
 'TUSHAR YASHWANT JADIYAR',
 None,
 'DIPAK KHARE',
 'PATHAK PANKAJ SHAMBHUNATH',
 'PRITESH BHOJA SHETTY',
 'SREEJISH P S',
 'RAJASHEKAR POLLAMPELLY',
 'NARESH S',
 'SAURABH PURUSHOTTAM SAUNDANKAR',
 'MASKARE PRADEEP',
 'PRASHANT SALVI',
 'MURARI NAGESH',
 'SURAJ PRAKASH BAWANE',
 'M CHANDRAPANDI',
 'LENEESH V P',
 None,
 'AJAHARUDDIN AHMED',
 'GOTTAM PRASANNA KUMAR',
 'TUSHAR SHANTARAM',
 'RAJEESH V R',
 'GANESH MARUTI GHODAKE',
 'LOKESH BIRADAR',
 'EDIGUTTU ANNAIAH',
 'VADIVELU P',
 'AZMATH FATIMA',
 'JAYAKUMAR S',
 'PEDDAPALLI SRINATH',
 'MAHAMED CHAND PASHA',
 'SENTHIL T',
 'BAJIRAV SHAMRAV SONAVANE',
 'SAURABH MOTIRAM NEHETE',
 'MALOTHU VEERANNA',
 'RAVIKUMAR D P',
 'K DURAIRAJ',
 'TAGARAM RAVI THEJA',
 'MYLAPPA',
 'DAPULOLA RAJU',
 'MOHAMMED CHAN BASHA I',
 'MADHAV KISHANRAO BHOSALE',
 None,
 'PRASHANT PRABHAKAR WAGH',
 'M CHANDRAPANDI',
 'Indian Overseas Bank',
 'YUVARAJ K M',
 'Indian Overseas Bank',
 'Indian Overseas Bank',
 'ANGAD KUMAR',
 'SHANMUGAPRIYA R',
 'YUVARAJ K M',
 'V V SATYANARAYANA MATTA',
 None,
 'SAURABH PURUSHOTTAM SAUNDANKAR',
 'BADDEPUDI HARI',
 'SACHIN HARI CHAVAN',
 'NA',
 'MANJUNATH H M',
 'Manjunatha',
 'HARSHAD H AGRE',
 'NA',
 'RAUL DEVESH PRABHAKAR',
 'RISHI MATHUR',
 'KONINTI SAMPATH KUMAR',
 'null',
 'MADHAVAN R',
 'NACHARAM NIHAR CHARY',
 'BURANDE NIKHIL VIKAS',
 'A R K PRABHAKARRAJ',
 'CHANDRASHEKHAR BIRAJDAR',
 'RAJEESH V R',
 'SANJAY KUMAR SINGH',
 'PRATAP CHANDRA SWAIN',
 'SATHEESHKUMAR S',
 'PRASHANT EKNATH PAWAR',
 'NEELAM ARJUN AHIRE',
 'ISUKAPATLA BALAKRISHNA',
 'AZMATH FATIMA',
 'KISHORE B',
 'REKHA A',
 'B Shoeb Anzer',
 'THARUN RUSHYENDIRAN',
 'PARMAR PRADEEP KUMAR',
 'RAJATH H K',
 'shaik vajee',
 'NITYANAND PRASHAD',
 'PRAFULLA KUMAR MOHANTY',
 'JAFARMIYA MUSTAFASAB',
 'VILESH ANIL RATHOD',
 None,
 'RAGHAVENDRA ISHWARAPPA HEGADI',
 'T VIJAY',
 'SUNDESH RANAWARE',
 'KUKKUDALA VENU GOPAL',
 None,
 'GOHEL JAYESHKUMAR DINESHBHAI',
 'YOGESH SAKHARAM DONGARKAR',
 'ANIK SINGHA',
 'GAMPALA VIJAY KUMAR',
 'ABHISHEK PANDEY',
 'VISHAL BHAGATSING SALUNKHE',
 'RAVI PRATAP VISHWAKARMA',
 'RAJESHKUMAR VEERLA',
 'P JAYAKUMAR',
 None,
 'EDDANDI VENKATESH',
 'LIGI K MATHEW',
 'PAWAR SAGAR SAHEBRAO',
 'THOLEM ANIL',
 'POOJALA MAHESH',
 'KAMAL D',
 None,
 'SWATHI V',
 'SADHU JIGARKUMAR MAHENDRABHAI',
 'SRINIVASAN E',
 'RAVI PRATAP VISHWAKARMA',
 None,
 'SANTOSH RAMESH KAMBLE',
 'SOUMYA PRASANNA PATTNAYAK',
 'SAMUDRALA SREEDHAR',
 'ILHAN IBRAHIM KHAN',
 None,
 'CHETAN B C',
 'RAJESHWARAN M',
 'SURESH A',
 'B SRAVAN KUMAR',
 'SRIDHAR VAKULABHARANAM',
 'JEEVANADHAM M',
 'LEKSHMI VIJAYAN',
 None,
 'BEESAM RAMU SAGAR',
 'SANOJ V R',
 'ISUKAPATLA BALAKRISHNA',
 None,
 None,
 'ANCHALA RAMA SATHYANARAYANA',
 'RAVIRAJ VITTHALA AMIN',
 'KUMARI SMRITI SINGH',
 'VELAYUTHAM Senthil Arumugam',
 'VIKAS V',
 'SHAILESH OMPRAKASH',
 'REMATA LOKESWARA REDDY',
 'CAROL FERNANDES',
 'Rakesh Ramchandra Jadhav',
 'SURESH J',
 'KARAN SANJAYBHAI HANSORA',
 'MEESALA SRAVANTHI',
 'MAHAMAD RIZWAN M S',
 'PAUL RAJ',
 'G BALAJI',
 'RAMESH NATHUJI SUTHAR',
 'D MAGESH',
 'AKHIL',
 'SATHEESHKUMAR S',
 'PUNITH KUMAR H S',
 'KUMAR V',
 'SHANKAR MOGER',
 'V V SATYANARAYANA MATTA',
 'CH NARENDER REDDY',
 'PRADEEP LALDEV PRAJAPATI',
 'BEJJARAPU NAGESH',
 'PRAVIN NARAYAN KOLTE',
 'AFSAL A',
 'NICKITA VILAS',
 'GOUSODDIN IMAMODDIN SHAIKH',
 'MAHENDRA BABAN SHELAKE',
 'SWAPNIL MUKUND RATNAKAR',
 'ZUBEDA BI',
 'GHANSHAM GIRISH DEVE',
 None,
 'AKSHAY ANANT BANGAL',
 'TAMANAM JOYAL BABU',
 None,
 None,
 'AJAHARUDDIN AHMED',
 'ZUBEDA BI',
 'JAGADEESH R',
 'PRADYUMNA KUMAR MOHANTY',
 'PANDALAPATI BABU RAO',
 'SUMEET U BAGADE',
 'PACHIMATLA NARESH',
 'SHAIJU K',
 None,
 'AKSHAY ANANT BANGAL',
 'BHUVANESHWARI K',
 'STARLET MARY RAJAN',
 'BOLLIBATHULA RAMESH',
 'SHOEB MOHAMMAD MUHARRAM ALI ANSARI',
 'REDDY SAMBA MARRI',
 'ARUN D',
 'UDAY ANILRAO KULKARNI',
 'SAJJAN SINGH RAJPUT',
 'PRABUDEVA V',
 'SHARIFUDDIN S A',
 'Pankaj Suresh Gunjarge',
 'BOLLU ANIL KUMAR',
 'RAVI G S',
 None,
 None,
 'BALAJI GOPAL SARWADE',
 'P BALAKUMARAN',
 'AHIRE BABAJI JIBHAU',
 None,
 'A.SURESH KUMAR',
 'KUMMARI RAJESWARI',
 'SALE ANAND KUMAR',
 'UDAY ANILRAO KULKARNI',
 'MANJUNATH H M',
 'P SRIKANTH',
 'Y SRIKANTH REDDY',
 'GUDAPATI NIVEDITHA',
 'DEEPAK GULAB SATHE',
 'BAJIRAV SHAMRAV SONAVANE',
 'SUSHIL YELSANGIKAR',
 None,
 'SAGAR VISHNU',
 'SHIVAM SRIVASTAVA',
 'PUSHPALATHA',
 'null',
 'MANIKANDAN J',
 'NA',
 'BHARATH KUMAR V',
 'SETHUPATHY C',
 'VAIBHAV VIJAY REMULKAR',
 'NEHA KAILASH AVHAD',
 'GOUNY SHRAVAN KUMAR REDDY',
 'DEVENDRA SINGH',
 'SATHEESHKUMAR S',
 None,
 'RAVI SAINI',
 'Arshaad Ahamad',
 'BAJIRAV SHAMRAV SONAVANE',
 'V V SATYANARAYANA MATTA',
 'HARSH LALWANI',
 'RAJESH MANNA',
 'MOHAMMED IZAZ',
 'RAJEESH B (DECLARATION)',
 'JAYASREE K',
 'RUSHIKESH MADHAVRAO PATIL',
 'POTTABATHINI SRIKANTH',
 'MUTHU DHANASEKAR',
 'PRASHANT PRABHAKAR NAIK',
 'SURESHKUMAR M',
 'SANTOSH KUMAR SEKHARAMANTRI',
 'BOOBALASAMY T',
 'BANDARI HARIKA',
 'MAMIDLA SUMAN',
 'ANIL J',
 'ATUL BALU DHOTRE',
 'THAKUR DINESH CHANDER SINGH',
 'A ANGELINE GLORY',
 'NA',
 'MAHESH ROHIDAS THAKUR',
 'DHAVAL DINESHBHAI BADAYANI',
 'NAMILAKONDA VAMSHI KRISHNA',
 'SANJAY KUMAR SINGH',
 'M MAHESWAR RAJU',
 'NA',
 'PANDEY SHUBHAM',
 'VIGNESH P',
 'RAGHVENDRA MEGERI',
 'RAJEEV KUMAR SINGH',
 'SAGAR VITTHALBHAI TADHANI',
 'PREETHAM R',
 'NOUSHAD V',
 'ROBEN PRAMOD RAJKAR',
 'VENUGOPAL N',
 'DHIRAJ GOKUL BUWA',
 'MURUGAN KUMAR',
 'JITEEN HANUMANT KASABE',
 'AVINASHSINGH AMARSINGH',
 'POLAMENI RAJESH',
 'PRISKILA B',
 'Sabhavat Pruthviraj Chauhan',
 'MOHAMMADALI S',
 'M V ESHWAR KUMAR',
 'IMRAN AHAMED N',
 'DEVASELVAM A',
 'PADMANABHA GANTA',
 'ROOPA T',
 'R Prabu',
 None,
 'MARI KANAKA DURGA',
 'RUPA YASH SHUKLA',
 'NILENDU DAS']

In [125]:
account_name = np.array(account_name)
account_nos = np.array(account_nos)
bank_names = np.array(bank_names)
salary = np.array(salary)

In [126]:
final_df = pd.DataFrame({'User-ID':df3['User ID'],'Bank-Name':bank_names,'Account-Holder-Name':account_name,'Account-No':account_nos,'Recent-Salary':salary})

In [127]:
final_df

     User-ID           Bank-Name  ...         Account-No Recent-Salary
0     104832                HDFC  ...     50100287183763         11553
1     434859  STANDARD CHARTERED  ...        27011717278         18271
2     293921                HDFC  ...     50100330886677         17436
3     172850               ICICI  ...       197401503617          None
4      63085               ICICI  ...       059601506728          None
..       ...                 ...  ...                ...           ...
314   321522                IDFC  ...        10038821419         14078
315   293171               ICICI  ...       001401538521         41627
316   539352                 SBI  ...  00000062308585354          None
317   103270                HDFC  ...     50100257779051         27500
318   540212                HDFC  ...     50100199646413         32476

[319 rows x 5 columns]

In [128]:
final_df.to_csv('v4_final.csv',index=False)